<li>
  <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if user != current_user %>
      <% if friendships.empty? || friendships.find_by(friend_id: user.id).nil? %>
        <% if invites[:was_invited].any? && !invites[:was_invited].find_by(user_id: user.id).nil? %>
          <% if invites[:was_invited].find_by(user_id: user.id).status == false %>
            <%= form_tag(friendship_path(invites[:was_invited].find_by(user_id: user.id).id), method: :patch) do |f| %>
              <%= submit_tag  'Accept' %>
            <% end %>
            <%= form_tag(friendship_path(invites[:was_invited].find_by(user_id: user.id).id), method: :delete) do |f| %>
              <%= submit_tag  'Decline', data: { confirm: 'Are you sure you want to decline?' } %>
            <% end %>
          <% else %>
            <%= label_tag 'Friends' %>
          <% end %>
        <% else %>
          <%= button_to  'Invite', friendships_path(friend_id: user.id) %>
        <%end%>
      <% elsif friendships.find_by(friend_id: user.id).status == false %>
        <%= label_tag 'Pending' %>
      <% else %>
        <%= label_tag 'Friends' %>
      <% end %>
    <% end %>
  </span>
</li>

