<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if @user != current_user %>
    <% if !@invited.nil? && @invited.status == false %>
      <%= label_tag "Pending" %>
    <% elsif !@was_invited.nil? && @was_invited.status != true %>
      <%= form_tag(friendship_path(@was_invited.id), method: :patch) do |f| %>
        <%= submit_tag  "Accept" %>
      <% end %>
    <% elsif @invited.nil? && @was_invited.nil? %>
      <%= button_to "Invite", friendships_path(user_id: current_user.id, friend_id: @user.id) %>
    <% end %>
  <%end%>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
