<section class="user-section">
  <h2><%= "#{@user.name}" %></h2>
  <%= friendship(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<aside class="friends-list">
  <h2>Friends</h2>
  <ul>
    <% @invites[:invited].where(status: true).each do |x| %>
    <li>
      <%= link_to  User.find(x.friend_id).name, user_path(User.find(x.friend_id).id) %>
    </li>
    <% end %>

    <% @invites[:was_invited].where(status: true).each do |x| %>
    <li>
      <%= link_to  User.find(x.user_id).name, user_path(User.find(x.user_id).id) %>
    </li>
    <% end %>
  </ul>
</aside>